
table#checkListTable {
  width: 100%; 
  background-color: #f1f1c1;
  border-spacing: 5px;
  margin: 0px 0px 30px 0px;
}

table#checkListTable tr:nth-child(even) {
  background-color: #eee;
}

table#checkListTable tr:nth-child(odd) {
  background-color: #fff;
}

table#checkListTable th {
  color: white;
  background-color: black;
}

.checkListTableHeader {
	font-weight: bold;
}

.checkListTableFooter {
	font-weight: bold;
}

.checkListTablePlaceColumnClass {
	width: 15%;
}
.checkListTableScoreColumnClass {
	width: 15%;
}
.checkListTableCommentsColumnClass {
	width: 70%;
}
.checkListTableCommentsCellClass {
	width: 100%;
}

.contentWidthClass {
	width: 5%;
}

.noWrapClass {
	white-space:nowrap;
}

.tableHeaderClass {
	font-weight: bold;
}

.inspectionInputsTable {
	width: 400px; 
	background-color: #f1f1c1;
	border-spacing: 5px;
	margin: 0px 0px 30px 0px;
}

.inspectionInputsTable td:nth-child(2) {
	width: 250px; 
}

.inspectionInputsTable label {
	height: 30px; 
}

.inspectionInputsTable select {
	width: 100%;
	height: 30px;
}


.feedbackClass {
	margin: 30px 0px 30px 0px;
}